$scrollbar-thumb-width: 10px;
$background-color-primary: #fc0;
$background-color-scrollbar-thumb: #1f2e33;
$background-color-table-head: #1e353b;
$color-table-head: #add0d4;
$background-color-table-item: #779399;
$color-table-item: #efefef;
$background-color-match-slip-info: #ebf6e8;
$color-match-slip-info: #1f4e56;

$breakpoint-mobile: 768px;
